.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 100;
}
.header .logo-area {
  display: flex;
  align-items: center;
}
.header .logo-area img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.header .logo-area p {
  margin-left: 14px;
  font-size: 32px;
  color: #3E3E3E;
}
.header .search-area {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.header .search-area .search {
  width: 100%;
  height: 40px;
}
.header .search-area .search input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #BDBDBD;
  padding: 11px 8px;
  border-radius: 6px;
}
.header .right-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 32px;
}
.header .notofications i {
  font-size: 28px;
  margin-right: 24px;
  cursor: pointer;
}

.navbar {
  width: 230px;
  height: 100%;
  padding: 75px 18px 0 18px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #FFFFFF;
}
.navbar .navbar-menu {
  display: flex;
  flex-direction: column;
}
.navbar .navbar-menu .active .navbar-menu-item {
  color: #007EFD;
  background-color: #F5FAFF;
}
.navbar .navbar-menu .active .navbar-menu-item span {
  text-decoration: underline;
}
.navbar .navbar-menu .navbar-menu-item {
  color: #353535;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transition: all 0.4s ease;
}
.navbar .navbar-menu .navbar-menu-item i {
  font-size: 24px;
  margin-right: 10px;
}
.navbar .navbar-menu .navbar-menu-item:hover {
  color: #007EFD;
  background-color: #F5FAFF;
}
.navbar .navbar-menu .navbar-menu-item:hover span {
  text-decoration: underline;
}

.no-user-main {
  height: 100%;
  width: 100%;
}

.no-user-content, .no-user-main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.no-user-content {
  flex-direction: column;
}
.no-user-content img {
  height: 300px;
  width: 300px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

#root {
  padding-top: 60px;
  height: 100%;
  padding-left: 266px;
}

.main,
body,
html {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  background-color: #FAFBFF;
}

.App {
  height: calc(100% - 60px);
  display: flex;
}

.main {
  width: 100%;
  height: 100%;
}

.hello-text {
  padding: 43px 53px;
}
.hello-text p:not(:last-child) {
  margin-bottom: 6px;
}

.home {
  display: flex;
  background-color: #FAFBFF;
  flex-direction: column;
  height: 100%;
}
.home .home-content {
  display: flex;
  background-color: #FAFBFF;
}

.home-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 0 53px;
  width: 80%;
}
.home-list .home-list-item {
  width: 292px;
  height: 267px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 13px 9px;
  margin: 25px;
}
.home-list .home-list-item .home-list-image {
  width: 100%;
  height: 156px;
}
.home-list .home-list-item .home-list-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.home-list .home-list-item .home-list-body p {
  color: #3E3E3E;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 7px 0 0 3px;
  font-size: 20px;
}
.home-list .home-list-item .home-list-body .home-list-feature {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-top: 7px;
}
.home-list .home-list-item .home-list-body .feature {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  color: #353535;
}
.home-list .home-list-item .home-list-body .feature i {
  margin-right: 5px;
}
.home-list .home-list-item .home-list-body .avatar-group-item {
  color: #3E3E3E;
}
.home-list .home-list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-list .home-list-footer .community-name a {
  color: #3E3E3E;
  font-size: 14px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-side {
  width: 30%;
}

.suggested-communities {
  width: 300px;
}
.suggested-communities .communities-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.suggested-communities .communities-title i {
  font-size: 20px;
}
.suggested-communities .communities-title span {
  margin-left: 8px;
}
.suggested-communities .communities-body .community-item {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  padding: 16px 14px;
  width: 100%;
  margin-bottom: 17px;
}
.suggested-communities .communities-body .community-item .flex-1 {
  flex: 0 0 auto;
  width: 37px;
  height: 37px;
}
.suggested-communities .communities-body .community-item .flex-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.suggested-communities .communities-body .community-item .flex-2 {
  flex: 1 0 auto;
  padding-left: 10px;
  width: 80%;
}
.suggested-communities .communities-body .community-item .p1 {
  font-size: 18px;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.suggested-communities .communities-body .community-item .p2 {
  font-size: 12px;
  display: flex;
  color: #353535;
}
.suggested-communities .communities-body .community-item .p2 .future {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}
.suggested-communities .communities-body .community-item .p2 .future:not(:last-child) {
  margin-right: 10px;
}

.flex {
  display: flex;
}
.flex .left-side {
  width: 80%;
}
.flex .right-side {
  width: 20%;
  margin-right: 50px;
}

.community-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 0 53px;
  background-color: #FAFBFF;
  height: 100%;
  flex: 1 1 auto;
}
.community-list .community-list-single {
  width: 300px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  padding-bottom: 20px;
  border-radius: 10px;
  margin: 25px;
}
.community-list .community-list-single .community-list-img {
  width: 100%;
  height: 136px;
}
.community-list .community-list-single .community-list-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.community-list .community-list-single .community-list-body {
  display: flex;
}
.community-list .community-list-single .community-list-body .communitiy-list-image {
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: 13px;
}
.community-list .community-list-single .community-list-body .communitiy-list-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  border: 3px solid #FFFFFF;
}
.community-list .community-list-single .community-list-body .community-list-name .name {
  font-size: 19px;
  padding-left: 8px;
  color: #3E3E3E;
}
.community-list .community-list-single .community-list-body .community-list-name .futures {
  display: flex;
  padding-left: 8px;
  color: #353535;
}
.community-list .community-list-single .community-list-body .community-list-name .futures .future {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.community-list .community-list-single .community-list-body .community-list-name .futures .future:not(:last-child) {
  margin-right: 10px;
}

.categories-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 0 53px;
  background-color: #FAFBFF;
  height: 100%;
  flex: 1 1 auto;
}
.categories-lists .categories-single {
  width: 180px;
  height: 180px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 25px;
}
.categories-lists .categories-single .categories-img {
  width: 100%;
  height: 136px;
}
.categories-lists .categories-single .categories-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories-lists .categories-single .categories-body {
  padding: 0 7px 0 7px;
  display: flex;
  align-items: center;
  height: 44px;
}

.sliderimg {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-image {
  width: 100%;
  height: 350px;
}
.event-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.event-name {
  display: flex;
  z-index: 15;
  align-items: center;
}
.event-name .event-img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 20px;
}
.event-name .event-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.event-name .event-name-tx p {
  font-size: 24px;
}
.event-name .event-name-tx .futures {
  display: flex;
}
.event-name .event-name-tx .futures .future {
  font-size: 15px;
  display: flex;
  align-items: center;
}
.event-name .event-name-tx .futures .future i {
  margin-right: 3px;
}
.event-name .event-name-tx .futures .future:not(:last-child) {
  margin-right: 10px;
}

.event-desc {
  padding: 40px;
}
.event-desc iframe {
  width: 100%;
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */